apiVersion: apps/v1
kind: Deployment
metadata:
  name: av-deployment
spec:
  selector:
    matchLabels:
      app: av-pod
  replicas: 1
  template:
    metadata:
      labels:
        app: av-pod
    spec:
      containers:
        - name: av-container
          image: mkodockx/docker-clamav:alpine
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
            - containerPort: 443
            