apiVersion: apps/v1
kind: Deployment
metadata:
  name: authorization-deployment
spec:
  selector:
    matchLabels:
      app: authorization-pod
  replicas: 1
  template:
    metadata:
      labels:
        app: authorization-pod
    spec:
      containers:
        - name: authorization-container
          image: localhost:5000/authorization
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
              protocol: TCP
          envFrom:
            - secretRef:
                name: crsecrets
