apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-deployment
spec:
  selector:
    matchLabels:
      app: product-pod
  replicas: 1
  template:
    metadata:
      labels:
        app: product-pod
    spec:
      containers:
        - name: product-container
          image: localhost:5000/product
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
              protocol: TCP
          envFrom:
            - secretRef:
                name: crsecrets